<!doctype html>
<html>
<head>
    <title>Avaliador de seguran&ccedil;a de senha</title>
    <link href="css/angular-bootstrap.css" rel="stylesheet">
    <style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}



    </style>
</head>

<body ng-app="passwordmeter">
<div class="row" ng-controller="passwordmeter as passwordmeter" ng-cloak class="ng-cloak">

    <div class="container">

        <h3>Avaliador de seguran&ccedil;a de senha</h3>

        <div class="row">
            <div class="col-md-8">

                <form class="form-horizontal" role="form" id="formPassword" name="form">

                    <div class="form-group">
                        <label for="pwd" class="col-sm-4 control-label">Password</label>
                        <div class="col-sm-4">

                            <input type="password" class="form-control" id="pwd"
                                   placeholder="Digite sua senha" autocomplete="off"
                                   ng-model="password"
                                   ng-change="checkComplexity()">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Complexidade</label>
                        <div class="col-sm-4">
                            <p class="form-control-static" id="complexity">{{label}}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Score</label>
                        <div class="col-sm-4">

                            <div class="progress progress-striped">
                                <div class="progress-bar" role="progressbar" progress-bar-watch="progress" progress-bar
                                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                     style="width: {{progress.score}}%;">
                                    {{progress.score}}%
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>


        </div>

    </div>
</div>
<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<script src="js/passwordmeter.js"></script>
</body>
</html>
